/* Container */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f4f8; /* Sama dengan background di Login */
  padding: 10px;
}

/* Title */
.home-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 2rem;
}

/* Button */
.home-button {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #0056b3;
}

.home-button-disable {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.home-button-disable:hover {
  background-color: #cccccc;
}

.text-response {
  font-size: 14px;
  padding: 5px;
  margin: auto;
  text-align: center;
  color: white;
}
