.record-container {
  width: 80%;
}

@media (max-width: 768px) {
  .record-container {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .record-container {
    font-size: 11px;
  }
  
  img.rounded-circle {
    width: 25px !important;
    height: 25px !important;
  }

  .form-select {
    font-size: 11px;
  }
}

@media (max-width: 425px) {
  .form-select {
    font-size: 11px;
    width: 60% !important;
  }

  .record-container {
    font-size: 10px;
  }

  th {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

