/* Container */
.result-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f4f8; /* Sama dengan background di Login, Home, dan QuizPage */
  padding: 20px;
}

/* Title */
.result-page-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}

@media (max-width: 375px) {
  .result-card {
    width: 70px;
  }
  .pagination-button button {
    font-size: 12px;
  }
  .result-page-container .result-container .record-container {
    width: 100% !important;
  }
  .result-page-container .result-container {
    padding: 0px;
  }
}

@media (max-width: 425px) {
  .pagination-button button {
    font-size: 11px;
    padding: 7px 10px;
  }
}

@media (max-width: 375px) {
  .pagination-button button {
    font-size: 10px;
    padding: 5px 10px;
  }

  .record-container .container .table tbody td {
    padding: 8px 4px;
  }
}