/* Container */
.result-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f4f8; /* Sama dengan background di Login, Home, dan QuizPage */
  padding: 20px;
}

/* Title */
.result-page-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1.5rem;
}
