body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.capsule-rounded {
  border-radius: 9999px; /* Membuat sisi kiri dan kanan bulat */
}

.custom-text {
  font-size: 1rem; /* Ukuran teks */
  font-weight: bold; /* Teks tebal */
  color: #333; /* Warna teks */
  margin: 0; /* Hilangkan margin default */
}